<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Aulas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.6/js/bootstrap-select.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.6/css/bootstrap-select.min.css"
        rel="stylesheet" />
</head>

<body style="background: #F1FAEE;">
    <div class="area">

        <ul class="circles" style="z-index: 0;">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <div id="nav">
            <nav class="navbar">
                <form action="/return" method="post" style="margin: auto;">
                    <button type="submit" class="btn btn-outline-light font-weight-bold"
                        style="color: #007BFF;font-family: 'Fredoka One';font-size: 25px;"><b>Menu</b></button>
                </form>
            </nav>
        </div>
        <div class="litHope">
            <section class="text-center text-lg-start" style="height: 100%;">

                <div class="container-fluid mt-2">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="profileCard p-2 mr-2" style="box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);">
                            <div class="d-flex align-items-center" style="color: #1D3557">
                                <div class="image">
                                    <img src="../../img/<%= usuarios.foto %>" style="border-radius: 15%;" width="155">
                                </div>
                                <div class="ml-3 w-100">
                                    <h4 class="mb-2 mt-0" style="color: #F1FAEE">
                                        <%= usuarios.nome %>
                                    </h4>
                                    <img class="mb-2 rounded" src="../../img/<%= materias.foto %>"
                                        style="height: auto;max-width: 40px;">
                                    <div class="p-2 bg-primary d-flex justify-content-center rounded text-white stats"
                                        style="color: #737A80;">
                                        <div class="d-flex flex-column">
                                            <span class="number1" style="color:#1D3557">
                                                <%= conteudos_da_materia.length-competencias_necessitadas.length %>/<%=
                                                        conteudos_da_materia.length %> |
                                            </span>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <span class="number2" style="color:#1D3557">
                                                <%= competencias.nota * 10 %>%
                                            </span>
                                            <span class="smLabel" style="color:#1D3557">Aproveitamento</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filtros p-2"
                            style="width: fit-content;border-radius: 10px;box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);">


                            <div class="container justify-content-center" style="margin-top: auto;margin-bottom: auto;">
                                <label for="smHell" style="color: #fff;">Filtro de conteudos:</label>
                                <form action="/aulas/<%= materias.idMateria %>" method="post" id="form-box"
                                    class="p-2 d-flex" style="width: fit-content;margin: auto;">
                                    <select id="smHell" class="selectpicker mb-0" title="Nada Selecionado" multiple
                                        data-live-search="true" onchange="this.form.submit()" name="filtro_conteudo">
                                        <% for (let i=0; i<conteudos_da_materia.length; i++) {%>
                                            <option class="selectCompetencias" value="<%= conteudos_da_materia[i] %>"
                                                style=<%=!(competencias_necessitadas.includes(conteudos_da_materia[i]))
                                                ? 'color:#fff;' : 'color:#f72585;' %>
                                                <%= (typeof filtro !=='undefined'
                                                    )?((filtro.includes(conteudos_da_materia[i])) ? "selected" : "" ):""
                                                    %>>
                                                    <%= conteudos_da_materia[i] %>
                                            </option>
                                            <% } %>
                                    </select>
                                </form>

                            </div>
                            <div class="container justify-content-center">
                                <label for="dataAula" style="color: #fff;">Data inicial:</label>
                                <form action="/aulas/<%= materias.idMateria %>" method="post" id="form-box"
                                    class="p-2 d-flex" style="width: fit-content;margin: auto;">
                                    <input onchange="this.form.submit()" id="dataAula" type="date"
                                        style="width: fit-content; margin:auto;z-index: 3" name="data"
                                        class="form-control"
                                        value="<%= (typeof filtro_dia0 !== 'undefined')? filtro_dia0 : "" %>">
                                </form>
                                <label for="dataAula2" style="color: #fff;">Data final:</label>
                                <form action="/aulas/<%= materias.idMateria %>" method="post" id="form-box"
                                    class="p-2 d-flex" style="width: fit-content;margin: auto;">
                                    <input onchange="this.form.submit()" id="dataAula2" type="date"
                                        style="width: fit-content; margin:auto;z-index: 3;" name="data2"
                                        class="form-control mb-2" placeholder="Selecione uma data"
                                        value="<%= (typeof filtro_dia !== 'undefined')? filtro_dia : "" %>">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <br>

                <div class="col-lg-12 mb-5 mb-lg-0">

                    <input onclick="download()" type="submit" name="submit" id="submit"
                        class="btn btn-primary btn-block" value="Download"
                        style="width: fit-content; margin-left: 80vh;box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);">
                    <div id="scrollList" class="container d-flex justify-content-center"
                        style="height: 250px;overflow-y: auto;">

                        <ul class="list-group text-white" id="listaConteudos">
                            <% for (let i=0; i<conteudos.length; i++) { %>
                                <div <%=(typeof filtro !=='undefined' )?((filtro.includes(conteudos[i].conteudo)) ? ""
                                    : "hidden" ):"" %>
                                    <%= (typeof filtro_dia0 !=='undefined' )?((new Date(filtro_dia0 + " GMT" ).getTime()
                                        <=new Date(new Date(conteudos[i].dia + " GMT" ).setDate((new
                                        Date(conteudos[i].dia + " GMT" ).getDate() + 1))).getTime()) ? "" : "hidden"
                                        ):"" %>
                                        <%= (typeof filtro_dia !=='undefined' )?((new Date(filtro_dia + " GMT"
                                            ).getTime()>=
                                            new Date(new Date(conteudos[i].dia + " GMT" ).setDate((new
                                            Date(conteudos[i].dia
                                            + " GMT" ).getDate() + 1))).getTime()) ? "" : "hidden" ):"" %>>
                                            <li
                                                class="list-group-item d-flex justify-content-between rounded align-content-center">
                                                <a id="fileFromElement" href="../../img/<%= conteudos[i].pasta %>"
                                                    download></a>
                                                <div class="d-flex flex-row">
                                                    <img src="https://img.icons8.com/color/100/000000/folder-invoices.png"
                                                        width="40" />
                                                    <div class="ml-2">
                                                        <h6 class="mb-0">
                                                            <%= conteudos[i].conteudo %>
                                                        </h6>
                                                        <div class="about">
                                                            <span>
                                                                <% var dateObj=new Date(new Date(conteudos[i].dia
                                                                    + " GMT" ).setDate((new Date(conteudos[i].dia
                                                                    + " GMT" ).getDate() + 1))) %>
                                                                    <% var month=dateObj.getUTCMonth() + 1; %>
                                                                        <% var day=dateObj.getUTCDate(); %>
                                                                            <% var year=dateObj.getUTCFullYear(); %>
                                                                                <%= day + "/" + month + "/" + year; %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="check">
                                                    <input type="checkbox" class="checkboxInput" name="a">
                                                </div>

                                            </li>
                                </div>
                                <% } %>

                        </ul>

                    </div>
                </div>
        </div>
    </div>
    </section>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example-getting-started').multiselect();
        });

        function download() {
            var allInputs = document.querySelectorAll(".checkboxInput");
            var allFiles = document.querySelectorAll("a");
            var input = [];
            var file = [];

            input.length = allInputs.length;
            file.length = input.length;

            for (var i = 0; i < allInputs.length; i++) {
                input[i] = allInputs[i];
                file[i] = allFiles[i];

                if (input[i].checked) {
                    file[i].click()
                }
            }

        }
    </script>
    </div>
</body>

</html>